<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style media="screen">
        * {margin: 0; padding: 0;}
        header {width: 100%; text-align: center; height: 50px; position: fixed;}
        b {display: inline-block; margin-left: 50px; margin-top: 20px; cursor: pointer;}
        div {width: 100vw; height: 80vh;}
    </style>
    <link rel="stylesheet" href="../../css/introduce.css">
    <title>SoriLee</title>
</head>
<body>
    <div class="window1">
        <div class="intro">
            <h1 class="intro_1">12기, 아기사자 이동훈</h1>
            <h3 class="intro_2"> @sori.lee </h3>
        </div>
    </div>
<main>
    <div class="window2">
        <img class="serve" src="../../img/window2_serve.png" alt="">
        <div class="myself">
            <h1 class="myself1"> Software </h1>
            <h2 class="myself2"> 20학번 소프트웨어 3학년, <br>프론트엔드 개발자로 멋쟁이사자처럼 지원했습니다.
                <br>이전에는  <a class="blog" href="https://blog.naver.com/ldh6434"  >
                    이렇게</a> 살다 왔어요.</h2>
        </div>
    </div>
    <div class="window3">
        <h1 class="window3h1"> MBTI & Hobby</h1>
        <div class="container">
            <div class="hobby">
                <img class="hobby_img" src="../../img/1.jpg" alt="">
                <p class="hobby_text"> MBTI </p>
            </div>
            <div class="hobby">
                <img class="hobby_img" src="../../img/2.jpg" alt="">
                <p class="hobby_text">ACTING</p>
            </div>
            <div class="hobby">
                <img class="hobby_img" src="../../img/3.jpg" alt="">
                <p class="hobby_text">SPORTS</p>
            </div>
        </div>
    </div>
</main>
<footer></footer>
    <div class="window5">
        <h1 class="window5_1"> Mat Follow &#129303;</h1>
        <div class="imglist">
            <a href="https://www.instagram.com/sori.lee">
                <img src="../../img/insta.png" alt="" class="insta">
            </a>
        </div>
    </div>
</footer>
</body>
</html>