@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}
@font-face {
    font-family: 'Gmarket Sans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root{
    --color-main-black: #3e3e3e;
    --color-orange-main: #fe9519;
}
.footerbar{
    background-color: var(--color-main-black);
    display:flex;
}

.footer_txt_div{
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    margin: auto;
}
.footer_title{
    font-family: Gmarket Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    color: #ffffff;
}
.footer_menus{
    display: flex;
    font-family: "Noto Sans KR";
    font-size: 12px;
}
.managers{
    margin-top: 30px;
    margin-bottom: 40px;
    text-decoration: none;
    color: #ffffff;
}
.KAU_likelion{
    margin-top: 30px;
    margin-left: 183px;
    margin-right: 183px;
    margin-bottom: 40px;
    text-decoration: none;
    color: #ffffff;
}
.LikeLion_UNiv{
    margin-top: 30px;
    margin-bottom: 40px;
    text-decoration: none;
    color: #ffffff;
}